
  <div class="sign-in-container">
    <div class="sign-in-form">
       <h1 class="page-title">
          Sign in
          <span class="page-title-back">
            Movienight
          </span>
        </h1>
        <form>
          <div class="form-block">
            <input type="text" ng-model="$ctrl.user.email" placeholder="Username" class="alt">
            <input ng-model="$ctrl.user.password" type="password" placeholder="Password" class="alt">
          </div>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.signIn($ctrl.user.email, $ctrl.user.password)">Login</button>
      </form>
    </div>
  </div> 
